@use "../themeprovider/themeprovider" as theme;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$link-transition: 0.3s ease-in-out;
$link-padding: 1.5em;

@mixin input-form($form-border) {
  input {
    font-family: "Poppins", sans-serif;
    width: min(42em, 100%);
    border: none;
    padding: 1em 1.5em;
    border-radius: 5px;
    background: theme.$white-color;
    color: theme.$dark-blue-color;
    font-size: 1rem;
    font-weight: 500;
    border: $form-border;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: theme.$gray-violet-color;
      font-size: 1rem;
      font-weight: 500;
    }

    &:disabled {
      opacity: 1;
      background: theme.$white-color;
      color: theme.$dark-blue-color;
      cursor: not-allowed;
    }
  }

  .loading-spinner-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

// Input Content
.input-wrapper {
  display: flex;
  justify-content: center;
  transform: translateY(-6em);

  .input-content {
    background: url("/bg-shorten-mobile.svg"), theme.$dark-violet-color;
    background-repeat: no-repeat;
    background-size: min(20em, 80%);
    background-position: top right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    width: min(63em, 90%);
    padding: 2em;
    border-radius: 10px;

    .input-form {
      width: min(42em, 100%);
      @include input-form(none);
    }

    .input-form-error-active {
      width: min(42em, 100%);
      @include input-form(5px solid theme.$red-color-hover);

      p {
        font-family: "Poppins", sans-serif;
        color: theme.$red-color-hover;
        font-size: 1.1rem;
        font-weight: 500;
        font-style: italic;
        margin-top: 1em;
      }
    }

    button {
      font-family: "Poppins", sans-serif;
      background: theme.$cyan-color;
      color: theme.$white-color;
      border: none;
      padding: 1.1em 2.5em;
      font-size: 0.95rem;
      font-weight: 600;
      border-radius: 5px;
      width: min(32em, 100%);
      cursor: pointer;
      white-space: nowrap;
      transition: background $link-transition;

      &:hover {
        background: theme.$cyan-color-hover;
      }

      &:disabled {
        background: theme.$gray-color;
        transition: none;
        cursor: not-allowed;
      }
    }
  }
}

@media (min-width: theme.$media-query-normal-value) {
  .input-wrapper {
    transform: translateY(-4em);

    .input-content {
      background: url("/bg-shorten-desktop.svg"), theme.$dark-violet-color;
      background-size: cover;
      background-position: center;
      flex-direction: row;
      padding: 2.8em 2em;
      gap: 1.5em;

      button {
        width: 11.5em;
        align-self: flex-start;
        white-space: nowrap;
      }
    }
  }
}

// Clear Links Button
.clear-links-button {
  display: flex;
  justify-content: center;

  button {
    margin-top: -3.2em;
    margin-bottom: 2em;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    padding: 0.5em 1em;
    border: none;
    color: theme.$white-color;
    font-size: 1.2rem;
    background: theme.$red-color;
    transition: background $link-transition;
    width: min(10em, 90%);
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background: theme.$red-color-hover;
    }
  }
}

@media (min-width: theme.$media-query-normal-value) {
  .clear-links-button {
    button {
      margin-top: -1.5em;
      margin-bottom: 1.8em;
    }
  }
}

// Links Content
.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;

  .links-content {
    background: theme.$white-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min(63em, 90%);
    border-radius: 10px;

    div:first-child {
      border-bottom: 1px solid theme.$gray-color;
      width: 100%;
      padding: $link-padding;

      p {
        font-family: "Poppins", sans-serif;
        color: theme.$dark-blue-color;
        font-weight: 600;
        font-size: 1.1rem;
        word-break: break-all;
      }
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1em;
      width: 100%;
      padding: $link-padding;

      p {
        font-family: "Poppins", sans-serif;
        color: theme.$cyan-color;
        font-weight: 600;
        font-size: 1.1rem;
        word-break: break-all;
      }

      .link-not-copied-button {
        font-family: "Poppins", sans-serif;
        background: theme.$cyan-color;
        color: theme.$white-color;
        border: none;
        padding: 1em 2.3em;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        white-space: nowrap;
        transition: background $link-transition;

        &:hover {
          background: theme.$cyan-color-hover;
        }
      }

      .link-copied-button {
        font-family: "Poppins", sans-serif;
        background: theme.$dark-blue-color;
        color: theme.$white-color;
        border: none;
        padding: 1em 2.3em;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        white-space: nowrap;
        transition: background 0.2s ease-in-out;
      }

      .close-button {
        border-radius: 5px;
        padding: 0.45em 1em;
        border: none;
        color: theme.$white-color;
        font-size: 1.7rem;
        background: theme.$red-color;
        transition: background $link-transition;
        width: 100%;
        cursor: pointer;

        &:hover {
          background: theme.$red-color-hover;
        }
      }
    }
  }

  .links-content:last-child {
    margin-bottom: 6em;
  }
}

@media (min-width: theme.$media-query-normal-value) {
  .links-wrapper {
    gap: 1.15em;

    .links-content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      div:first-child {
        border-bottom: none;
      }

      div:nth-child(2) {
        flex-direction: row;
        align-items: center;
        width: auto;

        p {
          word-break: normal;
        }

        .link-not-copied-button {
          padding: 0.6em 2.5em;
        }

        .link-copied-button {
          padding: 0.6em 2em;
        }

        .close-button {
          padding: 0.23em 1.1em;
        }
      }
    }

    .links-content:last-child {
      margin-bottom: 3.5em;
    }
  }
}
