---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import Input from "../components/Input";
import Statistics from "../components/Statistics";
import styles from "../styles/Home.module.scss";
---

<Layout title="Shortly">
  <Navbar client:load />
  <main>
    <Hero />
    <div class={styles["home-content-background"]}>
      <Input client:load />
      <Statistics />
    </div>
  </main>
</Layout>
