---
import "../styles/global.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const keywords =
  "url shortener, url link shortener, url link shortener netlify, link shortener, link shortener netlify";
const description =
  "A url shortener website. Copy the long link or url and paste it in the text box and let it generate a short link for you.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords} />
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
